/* Estilo para o formulário */
.modern-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para os campos do formulário */
.form-group {
    margin-bottom: 15px;
}

/* Estilo para as labels dos campos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os inputs e textarea */
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilo para o botão */
button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #f90;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para o botão hover */
button:hover {
    background-color: #f60;
}

/* Estilo para o botão laranja */
.btn-orange {
    background-color: #f90;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para o botão laranja hover */
.btn-orange:hover {
    background-color: #f60;
}

.form-li{
    padding: 10px 0px 5px 0px;
    border-bottom: #f60 solid 1px;
    background-color: #f3f3f3;
}

.form-li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}