/* Estilos para os cards */
.card {
    width: 360px; /* Card ocupa 45% da largura do contêiner para 2 por linha */
    height: 320px;
    margin: 1%; /* Margem entre os cards */
    float: left; /* Flutua os cards para a esquerda */
    box-sizing: border-box; /* Inclui padding e borda na largura e altura */
    padding: 0px; /* Espaçamento interno do card */
    background-color: #424242;
    position: relative;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.card a {
    text-decoration: none;
}

.card-img {
    width: 360px; /* Card ocupa 45% da largura do contêiner para 2 por linha */
    height: 218px;
    justify-content: center;
    position: relative;
    margin: 0px;
}

.img-thumb{
    width: 100%;
    height: 100%;
}
.rectangle {
    position: absolute;
    top: 59%;
    left: 4%;
    min-width: 80px; /* Largura mínima */
    height: 30px;
    background: linear-gradient(to right, #ec7a21 50%, #d45302 100%);
    z-index: 9998;
    color: rgb(255, 255, 255);
    display: inline-block; /* Permite ajustar a largura com base no conteúdo */
    padding-left: 10px; /* Espaçamento interno de 10px no topo e na base, e 20px nos lados */
    padding-right: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Esconde conteúdo que extrapola a largura */
    text-overflow: ellipsis; /* Exibe reticências (...) quando o conteúdo é cortado */
}

.rectangle h5 {
    margin-top: 9px;
    top: 9%;
    left: 4%;
    font-size: 14px;
}

.card-text{
    color: aliceblue;
    padding-left: 10px;
    position: relative;
}
/* Estilos para o título dos cards */
.card-text h4 {
    font-size: 15px;
    margin: 35px 0px 25px 0px;
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Esconde o texto que extrapola a largura */
    text-overflow: ellipsis; /* Exibe reticências (...) quando o texto é cortado */
    max-width: 45ch; /* Define o máximo de 35 caracteres */
}
.card-text a {
    text-decoration: none;
    color: aliceblue;
}

/* Estilos para o footer dos cards */
.card-text li {
    list-style-type: none; /* Remove a bolinha padrão */
    font-weight: lighter;
    padding-left: 5px;
    color: white;
    font-size: 15px;
}

/* Estilos para a responsividade (um card por linha em telas menores) */
@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; /* Remove as margens padrão do body */
        padding: 0; /* Remove o padding padrão do body */
    }
    .card {
        width: 500px;
        height: 309px;
        /* Outros estilos */
    }

    .card-img {
        width: 500px;
        /* Outros estilos */
    }

    .card-text h4 {
        font-size: 15px;
        margin: 35px 0px 25px 0px;
        white-space: nowrap; /* Evita quebra de linha */
        overflow: hidden; /* Esconde o texto que extrapola a largura */
        text-overflow: ellipsis; /* Exibe reticências (...) quando o texto é cortado */
        max-width: 90ch; /* Define o máximo de 35 caracteres */
    }
}