/* Estilos para os cards */
.card {
    width: 330px; /* Card ocupa 45% da largura do contêiner para 2 por linha */
    height: 295px;
    margin: 1%; /* Margem entre os cards */
    float: left; /* Flutua os cards para a esquerda */
    box-sizing: border-box; /* Inclui padding e borda na largura e altura */
    border: 1px solid #ccc; /* Borda para separar os cards */
    padding: 0px; /* Espaçamento interno do card */
    background-color: #424242;
    position: relative;
    
}

.card-img{
    width: 325px; /* Card ocupa 45% da largura do contêiner para 2 por linha */
    height: 195px;
    justify-content: center;
    position: relative;
}
.rectangle {
    position: absolute;
    top: 62%;
    left: 4%;
    width: 31%;
    height: 10%;
    background: linear-gradient(to right, #ec7a21 50%, #d45302 100%);
    z-index: 9998; /* Garante que o retângulo fique acima das outras camadas */
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinha o texto horizontalmente */
    box-shadow: 0 2px 4px rgb(0, 0, 0); /* Sombra suave */
}

.rectangle h5 {
    margin: 0; /* Remove as margens padrão do h4 */
}

.card-text{
    margin-bottom:5px;
    color: aliceblue;
    padding-left: 10px;
    position: relative;
}
/* Estilos para o título dos cards */
.card-text h4 {
    font-size: 20px;
    margin-bottom: 0px;
}

/* Estilos para o footer dos cards */
.card-text li {
    font-weight: lighter;
    margin-top: 10px; /* Remove a margem inferior padrão do footer */
    padding-left: 5px;
}

/* Estilos para a responsividade (um card por linha em telas menores) */
@media (max-width: 768px) {
    .card {
        width: 90%; /* Card ocupa 90% da largura do contêiner para um por linha em telas menores */
        margin: 5% 0; /* Margem superior e inferior */
    }
}
