/* Estilos padrão */
.main-video-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os elementos dentro do flex container sejam enrolados */
    max-width: 100%; 
}

.video-main video {
    max-width: 100%; /* Vídeo se ajustará ao tamanho do contêiner pai */
    height: auto; /* Mantém a proporção do vídeo */
    background-color: blue;
}

.video-infos {
    width: 100%;
    max-width: 720px; /* Define a largura máxima para 720px */
    background-color: #444444;
    color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0 auto; /* Centraliza o bloco de informações */
    box-sizing: border-box; /* Evita que a largura adicional do padding cause uma quebra de linha */
}

/* Estilos para telas menores que 768px (tablets e celulares) */
/* Estilos para telas menores que 768px (tablets e celulares) */
/* Estilos para telas menores que 768px (tablets e celulares) */
@media screen and (max-width: 768px) {
    .main-video-content {
        flex-direction: column; /* Alinha os elementos verticalmente */
        align-items: center; /* Centraliza os elementos horizontalmente */
    }

    .video-main video {
        width: 100%; /* Vídeo se ajustará à largura do contêiner pai */
        height: auto; /* Mantém a proporção do vídeo */
    }

    .video-infos {
        width: 100%;
        max-width: 90%; /* Largura máxima para evitar que o conteúdo fique muito largo */
        background-color: #444444;
        color: antiquewhite;
        padding: 15px; /* Adiciona espaço interno */
        margin-top: 15px; /* Adiciona um pouco de espaço acima */
        text-align: center; /* Centraliza o texto */
        box-sizing: border-box; /* Evita que o padding cause quebra de linha */
    }

    .video-infos li {
        margin-bottom: 10px;
    }
}
