.main-video-content {
    display: flex;
    justify-content: center;
}

.main-video-content * {
    text-align: left;
}


.video-main video{
    width: 720px;
    height:365px;
    background-color: blue;
}

.video-footer{
    padding-left: 2px;
}
.video-infos{
    width: 720px;
    background-color: #444444;
    color: antiquewhite;
    padding-top: 15px;
    padding-bottom: 20px;
}

.video-infos li{
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .main-vide-content {
        padding: 10px; /* Adiciona um pouco de espaço interno */
    }

    .video-main video {
        max-width: 100%; /* Vídeo se ajustará à largura do contêiner pai */
        height: auto; /* Mantém a proporção do vídeo */
    }

    .video-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-infos {
        width: 100%;
        max-width: 100%; /* Largura máxima para evitar que o conteúdo fique muito largo */
        background-color: #444444;
        color: antiquewhite;
        padding: 15px;
        margin-top: 15px;
        box-sizing: border-box;
    }

    .video-infos li {
        margin-bottom: 10px;
    }
}