<%- include('partials/head.ejs') %>

<!-- Incio apos o  head/aside -->
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>GALERIA</h3>
                    </div>
                    <div>
                        <div class="gallery-main">
                            <div class="gallery-img"><img src="https://i.ibb.co/3fKFmHX/013.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/2K7jx3y/014.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/JpFVKr3/015.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/xh4CK3Z/016.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/87BL9k7/017.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/bLFgmxH/018.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/zhMvKZF/019.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/7Yfv4Tc/020.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/R7YMfV8/021.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/LkdrrD9/022.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/qkt1nzz/023.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/ZJrgYMQ/024.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/4FGrH4y/025.jpg"></div>
                            <div class="gallery-img"><img src="https://i.ibb.co/TPScTZ6/026.jpg"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>
<script>
    // Obtém a modal e a imagem dentro dela
var modal = document.getElementById('myModal');
var modalImg = document.getElementById('img01');

// Obtém todas as imagens da galeria
var images = document.querySelectorAll('.gallery-img img');

// Adiciona um evento de clique a cada imagem
images.forEach(function(img) {
  img.addEventListener('click', function() {
    modal.style.display = 'block'; // Exibe a modal
    modalImg.src = this.src; // Define a imagem na modal como a imagem clicada
  });
});

// Adiciona um evento de clique ao botão de fechar
var closeBtn = document.querySelector('.close');
closeBtn.addEventListener('click', function() {
  modal.style.display = 'none'; // Oculta a modal ao clicar no botão de fechar
});

// Fecha a modal ao clicar fora da imagem
window.addEventListener('click', function(event) {
  if (event.target == modal) {
    modal.style.display = 'none';
  }
});

</script>


 <%- include('partials/body_end.ejs') %>