<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Template</title>
    <link rel="Stylesheet" href="./css/style.css">
    <link rel="Stylesheet" href="./css/cards.css">
</head>
<body><div class="container">
    <header>
        <h1>Header</h1>
    </header>
    <main>
        <div id="aside">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cabeçalho artigo New HD videos</h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubiles</h5>
                            </div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <li>atriz, atriz</li>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubiles</h5>
                            </div>
                            <div class="card-text">
                                <h5>Título 1</h5>
                                <p>Footer 1</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle"></div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <p>Footer 1</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubiles</h5>
                            </div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <p>Footer 1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>
    <div id="show-aside-square" onclick="toggleAside()">☰</div>
    <script src="/script/script.js"></script>
</body>
</html>
