<%- include('partials/head.ejs') %>
<!-- Incio apos o  head/aside -->
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cabeçalho artigo New HD videos</h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <div class="card">
                            <div class="card-img">
                                <a href="#"><img src="/imgcard.png" alt="Imagem 1"></a>
                            </div>
                            <div class="rectangle">
                                <h5>Nubil</h5>
                            </div>
                            <div class="card-text">
                                <a href="#"><h4>Título 1</h4></a>
                                <li>atriz, atriz</li>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubil</h5>
                            </div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <li>atriz, atriz</li>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubil</h5>
                            </div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <li>atriz, atriz</li>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-img">
                                <img src="/imgcard.png" alt="Imagem 1">
                            </div>
                            <div class="rectangle">
                                <h5>Nubil</h5>
                            </div>
                            <div class="card-text">
                                <h4>Título 1</h4>
                                <li>atriz, atriz</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>
<%- include('partials/body_end.ejs') %>