<%- include('partials/head.ejs') %>
<!-- Incio apos o  head/aside -->
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                    </div>
                    <div class="article-body" id="card-container">
                        <div class="pag404">
                            <h1>Pagina nao encontrada</h1>
                            <img src="404.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>
<%- include('partials/body_end.ejs') %>