<%- include('partials/head.ejs') %>
<!-- Incio apos o  head/aside -->
<section id="main-content">
    <div class="main">
        <div class="article">
            <div class="article-header">
                <h3>Cabeçalho artigo New HD videos</h3>
            </div>
            <div class="article-body" id="video-page">
                <div class="main-vide-content">
                    <div class="video-part">
                        <div class="vieo-header">
                            
                        </div>
                        <div class="video-main">
                            <video src="bunnys.mp4" controls poster="imgcard.png" style="max-width: 100%; height: auto;"></video>
                        </div>
                    </div>
                    <div class="video-footer">
                        <div class="video-infos">
                            <ul class="infos">                                
                                <li><i class="ftags-capt fa fa-calendar"></i> Released: 28.02.2024</li>
                                <li><i class="fas fa-tachometer-alt"></i> Duration: 00:27:47</li>
                                <li><i class="ftags-capt fa fa-star"></i> Star: Kimmy Kimm, Nick Strokes</li>
                                <li><i class="fas fa-video"></i> Studio: Nubil</li>

                                <ul>
                                    <li>Tags:</li>
                                </ul>
                            </ul>
                        </div>
                        <div class="recomendacoes">
                            <p> adicionar uma pequena carroseul com recomendações </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>
<%- include('partials/body_end.ejs') %>