<div id="aside">
    <h3 style="color: #ffffff;"><i class="fas fa-video icone-li"> </i> Studios</h3>

    <%
    // cria uma lista a partir do que vier em studios
    let studiosList = studios
      .map(s => s.studio.split(','))     // divide cada "studio1,studio2"
      .flat()                            // achata em um array só
      .map(s => s.trim())                // remove espaços extras
      .filter(s => s.length > 0);        // remove strings vazias
  
    // remove duplicados
    studiosList = [...new Set(studiosList)];
  
    // ordena alfabeticamente
    studiosList.sort((a, b) => a.localeCompare(b));
  %>
  
  <ul class="ul-aside">
    <% studiosList.forEach(studio => { %>
      <li class="li-aside">
        <a href="/main/studios/<%= studio %>"><%= studio %></a>
      </li>
    <% }); %>
  </ul>
</div>

<div id="show-aside-square">Aside</div>
<script>document.addEventListener('DOMContentLoaded', function() {
    const showAsideSquare = document.getElementById('show-aside-square');
    const aside = document.getElementById('aside');

    showAsideSquare.addEventListener('click', function() {
        aside.style.display = 'block';
    });
});</script>