<div id="aside">
    <h3 style="color: #ffffff;"><i class="fas fa-video icone-li"> </i> Studios</h3>

    <ul class="ul-aside">
        
        <% studios.forEach(studio => { %>
            <a href="/main/studios/<%= studio.studio %>"><li class="li-aside"><%= studio.studio %></li></a>
        <% }); %>
    </ul>
</div>

<div id="show-aside-square">Aside</div>
<script>document.addEventListener('DOMContentLoaded', function() {
    const showAsideSquare = document.getElementById('show-aside-square');
    const aside = document.getElementById('aside');

    showAsideSquare.addEventListener('click', function() {
        aside.style.display = 'block';
    });
});</script>