<div id="aside" class="asideadm">
    <li><i class="fas fa-video icone-li"> </i>Ferramentas</li>
    <ul class="ul-aside">
            <a href="/adm/add/"><li class="li-aside">Cadastrar</li></a>
    </ul>
</div>

<div id="show-aside-square">Aside</div>