<div id="aside" class="asideadm">
    <li><i class="fa-solid fa-gear"></i> Ferramentas</li>
    <ul class="ul-aside">
            <a href="/adm/add/"><li class="li-aside"><i class="fa-solid fa-inbox"></i> Cadastrar</li></a>
    </ul>
</div>

<div id="show-aside-square">Aside</div>