<div id="aside">
    <ul class="ul-aside">
        <li><i class="fas fa-video icone-li"></i> Studios</li>
        <% studios.forEach(studio => { %>
            <li class="li-aside"><a href="#"><%= studio.studio %></a></li>
        <% }); %>
    </ul>
</div>

<div id="show-aside-square">Aside</div>
<script>document.addEventListener('DOMContentLoaded', function() {
    const showAsideSquare = document.getElementById('show-aside-square');
    const aside = document.getElementById('aside');

    showAsideSquare.addEventListener('click', function() {
        aside.style.display = 'block';
    });
});</script>