<nav>
    <ul class="nav-ul">
      <li class="li-nav"><a href="/">MAIN</a></li>
      <li class="li-nav"><a href="/studios"><i class="fas fa-video"></i> Studios</a></li>
      <li class="li-nav"><a href="/atrizes"> <i class="ftags-capt fa fa-star"></i> Atrizes</a></li>
      <li class="li-nav "><a href="/tags"><i class="fa fa-tag"></i> TAGS</a></li>
      <li class="li-nav"><a href="/random"><i class="fa-solid fa-shuffle"></i> RANDOM</a></li>
      <li></li>
      <li class="li-nav"><a href="/adm"><i class="fa-solid fa-gear"></i>ADM</a></li>

    </ul>
</nav>