<nav>
    <ul class="nav-ul">
      <li class="li-nav"><a href="/">MAIN</a></li>
      <li class="li-nav"><a href="/tags">Todas TAGS</a></li>
      <li class="li-nav"><a href="/adm">ADM</a></li>
    </ul>
</nav>